#hero-carousel{
    img{
        filter: brightness(0.5);
    }
}
.av-logo{
    max-height: 3rem;
    width: auto;
}
.av-logo-text{
    font-family: 'Black Ops One', cursive;
}
.av-textarea{
    height: 8rem;
}
.carousel-caption{
    top:0;
    bottom: auto;
    text-align: left;
}
.nav-pills{
    .active{
        background-color: #ffc107 !important;
        color:#000 !important;
    }
}
footer{
    a{
        color: #000;
    }
    .nav-link .active{
        color: #fff;
    }
    .nav-link{
        color: #000;
    }
}
